{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        {{ form_start(loginForm) }}

            {% if error %}
                <div class="alert alert-danger">
                    Mot de passe ou identifiant invalide.
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, 
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1>Connexion</h1>

            {{ form_row(loginForm.email, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Email',
                    'autocomplete': 'email',
                    'autofocus': true
                }
            }) }}

            {{ form_row(loginForm.password, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Mot de passe',
                    'autocomplete': 'current-password'
                }
            }) }}

            <div class="checkbox">
                {{ form_widget(loginForm.remember_me) }}
                <label class="label">Se souvenir de moi</label>
            </div>

            <p>Token CSRF complet : {{ loginForm._token.vars.value }}</p>

            {{ form_row(loginForm.submit, {'attr': {'class': 'connexion'}}) }}

        {{ form_end(loginForm) }}

        <p><a href="{{ path('app_register') }}" class="pas-inscrit">Pas encore inscrit ? M'inscrire</a></p>
    </div>
{% endblock %}
