{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post">

        {{ dump(app.session.all()) }}

        {% if error %}
            <div class="alert alert-danger">
                Mot de passe ou identifiant invalide.
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, 
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1>Connexion</h1>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <p>Token généré : {{ csrf_token('authenticate') }}</p>

        <div class="checkbox">
            <input type="checkbox" name="_remember_me">
            <label class="label">Se souvenir de moi</label>
        </div>

        <button class="connexion" type="submit">Connexion</button>
    </form>

    <p><a href="{{ path('app_register') }}" class="pas-inscrit">Pas encore inscrit ? M'inscrire</a></p>
</div>
{% endblock %}
