{% extends 'base.html.twig' %}

{% block title %}M'inscrire{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container-form">
        <h1>M'inscrire</h1>

        {{ form_start(registrationForm) }}
            <div class='input'>
                <label for="{{ registrationForm.email.vars.id }}">Email</label>
                {{ form_widget(registrationForm.email, {
                    attr: {
                        class: 'email',
                        placeholder: 'Email'
                        }
                    }) }}
                
                <label for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe</label>
                {{ form_widget(registrationForm.plainPassword, {
                    attr: {
                        class: 'mot-de-passe',
                        id: 'plainPassword',
                        placeholder: 'Mot de passe'
                    }
                }) }}

                <div class="password-strength-container">
                    <div id="password-strength-bar"></div>
                    <p id="password-strength-text"></p>
                </div>

                <label for="{{ registrationForm.pseudo.vars.id }}">Pseudo</label>
                {{ form_widget(registrationForm.pseudo, {
                    attr: {
                        class: 'pseudo',
                        placeholder: 'Pseudo'
                        }
                }) }}
                
                <label for="{{ registrationForm.nom.vars.id }}">Nom</label>
                {{ form_widget(registrationForm.nom, {
                    attr: {
                        class: 'nom',
                        placeholder: 'Nom'
                        }
                }) }}

                <label for="{{ registrationForm.prenom.vars.id }}">Prénom</label>
                {{ form_widget(registrationForm.prenom, {
                    attr: {
                        class: 'prenom',
                        placeholder: 'Prénom'
                        }
                }) }}

                <label for="{{ registrationForm.telephone.vars.id }}">Numéro de téléphone</label>
                {{ form_widget(registrationForm.telephone, {
                    attr: {
                        class: 'telephone',
                        placeholder: 'Numéro de téléphone'
                        }
                }) }}

                <label for="{{ registrationForm.adresse.vars.id }}">Adresse</label>
                {{ form_widget(registrationForm.adresse, {
                    attr: {
                        class: 'adresse',
                        placeholder: 'Adresse'
                        }
                }) }}

                <label for="{{ registrationForm.date_naissance.vars.id }}">Date de naissance</label>
                {{ form_widget(registrationForm.date_naissance, {
                    attr: {
                        class: 'date-naissance',
                        placeholder: 'Date de naissance'
                    }
                }) }}
                <p id="age-error" class="error-message"></p>

                <div class='photo-upload-wrapper'>
                    <label for='{{ registrationForm.photo.vars.id }}' class='custom-upload'> Choisir une photo </label>
                    {{ form_widget(registrationForm.photo, {
                        attr: {
                            class: 'hidden-input',
                            accept: 'image/*'
                        }
                    }) }}
                </div>
            </div>

            <div class='conditions'>
                {{ form_widget(registrationForm.agreeTerms, {
                    attr: {class: 'agree-terms'}
                }) }}
                <p>J'accepte les conditions</p>
            </div>

            <button type="submit" class="bouton">M'inscrire</button>
        {{ form_end(registrationForm) }}

        <p><a href="{{ path('app_login') }}" class="deja-inscrit">Déjà inscrit ? Me connecter</a></p>
    </div>

    <script src="{{ asset('js/password-strength.js') }}"></script>
{% endblock %}
