{% extends 'base.html.twig' %}

{% block title %}M'inscrire{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container-form">
        <h1>M'inscrire</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class='input'>
                {{ form_widget(registrationForm.email, {
                    attr: {
                        class: 'email',
                        placeholder: 'Email'
                        }
                    }) }}

                {{ form_widget(registrationForm.plainPassword, {
                    attr: {
                        class: 'mot-de-passe',
                        placeholder: 'Mot de passe'
                        }
                }) }}

                {{ form_widget(registrationForm.pseudo, {
                    attr: {
                        class: 'pseudo',
                        placeholder: 'Pseudo'
                        }
                }) }}

                {{ form_widget(registrationForm.nom, {
                    attr: {
                        class: 'nom',
                        placeholder: 'Nom'
                        }
                }) }}

                {{ form_widget(registrationForm.prenom, {
                    attr: {
                        class: 'prenom',
                        placeholder: 'Prénom'
                        }
                }) }}

                {{ form_widget(registrationForm.telephone, {
                    attr: {
                        class: 'telephone',
                        placeholder: 'Numéro de téléphone'
                        }
                }) }}

                {{ form_widget(registrationForm.adresse, {
                    attr: {
                        class: 'adresse',
                        placeholder: 'Adresse'
                        }
                }) }}

                {{ form_widget(registrationForm.date_naissance, {
                    attr: {
                        class: 'date-naissance',
                        placeholder: 'Date de naissance'
                        }
                }) }}

                <div class='photo-upload-wrapper'>
                    <label for='registration_form_photo' class='custom-upload'> Choisir une photo </label>
                    {{ form_widget(registrationForm.photo, {
                        attr: {
                            class: 'hidden-input',
                            accept: 'image/*'
                        }
                    }) }}
                </div>
            </div>

            <div class='conditions'>
                {{ form_widget(registrationForm.agreeTerms, {
                    attr: {class: 'agree-terms'}
                }) }}
                <p>J'accepte les conditions</p>
            </div>

            <button type="submit" class="bouton">M'inscrire</button>
        {{ form_end(registrationForm) }}

        <p><a href="{{ path('app_login') }}" class="deja-inscrit">Déjà inscrit ? Me connecter</a></p>
    </div>
{% endblock %}
