{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/profil.css') }}">
{% endblock %}

{% block body %}

    <h1>Mon profil</h1>

    <a href="{{ path('modifier_profil') }}" class="btn-modifier">Modifier mon profil</a>

    <div class='profil-container'>
        <ul>
            <li>Pseudo : {{ user.pseudo }}</li>
            <li>Email : {{ user.email }}</li>
            <li>Nom : {{ user.nom }}</li>
            <li>Prénom : {{ user.prenom }}</li>
            <li>Adresse : {{ user.adresse }}</li>
            <li>Téléphone : {{ user.telephone }}</li>
            <li>Date de naissance : {{ user.dateNaissance|date('d/m/Y') }}</li>
            {% if user.photo %}
                <li><img src="data:image/jpeg;base64,{{ user.photo|base64 }}" alt="Photo de profil" style="max-width: 150px;"></li>
            {% endif %}
        </ul>
    </div>

    <a href="{{ path('ajouter_voiture') }}" class="btn-ajouter-voiture">Ajouter une voiture</a>
    
    <h2>Mes voitures</h2>

    {% if voitures is not empty and user.isChauffeur == true %}
        <a href="{{ path('ajouter_voiture') }}" class="btn-ajouter-voiture">Ajouter une voiture</a>
    
        <h1>Mes voitures</h1>

        {% for voiture in voitures %}
            <ul class="voiture-item">
                <li>Marque : {{ voiture.marque }}</li>
                <li>Modèle : {{ voiture.modele }}</li>
                <li>Plaque d'immatriculation : {{ voiture.immatriculation }}</li>
                <li>Date de première immatriculation : {{ voiture.date_premiere_immatriculation|date('d/m/Y') }}</li>
                <li>Nombre de places : {{ voiture.nb_places }}</li>
                <li>Énergie : {{ voiture.energie }}</li>
                <li>Couleur : {{ voiture.couleur }}</li>
                <li>Fumeur : {{ voiture.fumeur ? 'Oui' : 'Non' }}</li>
                <li>Animaux : {{ voiture.animaux ? 'Oui' : 'Non' }}</li>
            </ul>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas encore enregistré de voiture.</p>
    {% endif %}

{% endblock %}