{% extends 'base.html.twig' %}

{% block title %}Ajouter un employé{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin/nouveau_employe.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Créer un nouvel employé</h1>

        {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            <div class="form-group">
                {{ form_label(form.dateNaissance) }}
                {{ form_widget(form.dateNaissance) }}

                {% set filteredErrors = [] %} <!-- Gestion du message d'erreur -->
                    {% if form.dateNaissance.vars.errors|filter(e => e.message == "L'employé doit avoir au moins 18 ans.")|length > 0 %}
                        <div class="error-message">
                            L'employé doit avoir au moins 18 ans.
                        </div>
                    {% endif %}
            </div>
            {{ form_row(form.telephone) }}
            {{ form_row(form.adresse) }}

            <div class="btn-container">
                <button type="submit" class="btn-submit">Créer l'employé</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
