<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="EcoRide, la solution de covoiturage écoresponsable qui allège vos frais de trajet tout en réduisant vos émissions de CO₂. Partagez vos trajets et contribuez à une planète plus verte en toute convivialité.">
        <meta name="keywords" content="covoiturage, écoresponsable, écologique, EcoRide, transport partagé, mobilité durable">
        <meta name="author" content="EcoRide">

        <title>{% block title %}Accueil{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" href="{{ asset('images/logo.png') }}" type="image/png">     

         <!-- Google Fonts : Comfortaa -->
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

         <!-- Fichier CSS -->
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">

        <!-- Lien Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

        <!-- Lien Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        {% block head %}{% endblock %}

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div class="page-container">
            <header class="navbar-custom">
                    <div class="container-header">
                        <div class="gauche">
                            <img src="{{ asset('images/logo.png') }}" alt="EcoRide" class="logo">
                            <span class="site-name"> <a href="{{ path('app_accueil') }}" class='nom-site'>EcoRide</a></span>
                        </div>
                            <!-- Menu burger -->
                            <div class="burger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>

                            <nav class="nav-menu">
                                {% if app.user %}
                                    <!-- Liens communs à tous les utilisateurs connectés -->
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('admin_dashboard') }}">Accueil</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('admin_employes') }}">Gérer les employés</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('admin_gestion_utilisateurs') }}">Gérer les utilisateurs</a>
                                    {% elseif is_granted('ROLE_EMPLOYE') %}
                                        <a href="{{ path('employe_dashboard') }}">Accueil</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('employe_moderer_avis') }}">Modérer</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('employe_covoiturages_problematiques') }}">Signalements</a>
                                    {% else %}
                                        <a href="{{ path('app_accueil') }}">Accueil</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('app_covoiturage') }}">Covoiturages</a>
                                        <span class="separator">|</span>
                                        <a href="{{ path('app_contact') }}">Contact</a>
                                    {% endif %}

                                    <!-- Liens communs à tous les utilisateurs connectés -->
                                    <span class="separator">|</span>
                                    <a href="{{ path('app_profil') }}">Mon Compte</a>
                                    <span class="separator">|</span>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                {% else %}
                                    <!-- Utilisateur non connecté -->
                                    <a href="{{ path('app_accueil') }}">Accueil</a>
                                    <span class="separator">|</span>
                                    <a href="{{ path('app_covoiturage') }}">Covoiturages</a>
                                    <span class="separator">|</span>
                                    <a href="{{ path('app_contact') }}">Contact</a>
                                    <span class="separator">|</span>
                                    <a href="{{ path('app_login') }}">Se connecter</a>
                                {% endif %}
                            </nav>
                        </div>
                </header>

                <main class="content">
                    {% block body %}{% endblock %}
                </main>

                <footer class="nav-footer">
                    <div class="container-footer">

                        <div class="navbar-footer">
                            <a href="{{ path('app_a_propos')}}">À propos</a>
                            <a href="{{ path('app_contact')}}">Nous contacter</a>
                            <a href="{{ path('app_mentions_legales')}}">Mentions légales</a>
                        </div>

                        <p class="copyrigth">© EcoRide 2025</p>

                        <div class="reseaux-sociaux">
                            <p class="retrouvez-nous">Retrouvez-nous :</p>
                            <a href="#" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
                            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" aria-label="Snapchat"><i class="fab fa-snapchat"></i></a>
                        </div>

                    </div>
                </footer>
            </div>
            {% block javascripts %}{% endblock %}
    </body>

        <script src="{{ asset('/js/menu-burger.js') }}" defer></script>
</html>
