{% extends 'base.html.twig' %}

{% block title %}Modération des avis{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/css/employe/moderation_avis.css') }}">
{% endblock %}

{% block body %}
    <h1 class="titre">Modération des Avis</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Cible</th>
                    <th>Note donnée</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for a in avis %}
                    <tr>
                        <td>{{ a.auteur.pseudo }}</td>
                        <td>{{ a.cible.pseudo }}</td>
                        <td>{{ a.note }}/5</td>
                        <td>{{ a.commentaire }}</td>
                        <td>{{ a.dateAvis|date('d/m/Y') }}</td>
                        <td>
                            <form method="post" action="{{ path('employe_moderer_avis_action', {id: a.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('moderation_avis_' ~ a.id) }}">
                                <div class="moderation-actions">
                                    <button type="submit" name="action" value="approuve" class="approve">Approuver</button>
                                    <button type="submit" name="action" value="refuse" class="refuse">Refuser</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align:center;">Aucun avis en attente de modération</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
