{% extends 'base.html.twig' %}

{% block title %}Signaler un utilisateur{% endblock %}

{% block body %}
    <h1>Signaler l'utilisateur {{ user.pseudo }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.message) }}

        <button type="submit" class="btn btn-danger">Envoyer le signalement</button>
    {{ form_end(form) }}

    <a href="{{ path('employe_dashboard') }}">Retour au tableau de bord</a>
{% endblock %}
