{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/modifier.css') }}?v=1">
{% endblock %}

{% block body %}

    <div class='modification-container'>
        <h1>Modifier mon covoiturage</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

            <label for="date_depart">Date de départ</label>
            {{ form_widget(form.date_depart, {
                    attr: {
                        class: 'date_depart'
                        }
            }) }}

            <label for="heure_depart">Heure de départ</label>
            {{ form_widget(form.heure_depart, {
                    attr: {
                        class: 'heure_depart'
                        }
            }) }}

            <label for="lieu_depart">Lieu de départ</label>
            {{ form_widget(form.lieu_depart, {
                    attr: {
                        class: 'lieu_depart'
                        }
            }) }}

            <label for="date_arrivee">Date d'arrivée</label>
            {{ form_widget(form.date_arrivee, {
                    attr: {
                        class: 'date_arrivee'
                        }
            }) }}

            <label for="heure_arrivee">Heure d'arrivée</label>
            {{ form_widget(form.heure_arrivee, {
                    attr: {
                        class: 'heure_arrivee'
                        }
            }) }}

            <label for="lieu_arrivee">Lieu d'arrivée</label>
            {{ form_widget(form.lieu_arrivee, {
                    attr: {
                        class: 'lieu_arrivee'
                        }
            }) }}

            <label for="nb_place">Nombre de places disponibles</label>
            {{ form_widget(form.nb_place, {
                    attr: {
                        class: 'nb_place'
                        }
            }) }}

            <label for="prix_personne">Prix par personne</label>
            {{ form_widget(form.prix_personne, {
                    attr: {
                        class: 'prix_personne'
                        }
            }) }}

                <button type="submit" class='btn-modification'>Enregistrer mes modifications</button>
            {{ form_end(form) }}
        </div>

{% endblock %}